#title{
	background-color: #ff4c68;
	
}
.noob{
	font-family: 'Russo one';
	font-size: 3.5rem;
	line-height: 1.5;
	color: white;

}
.container-fluid{
	padding: 3% 15% 7%;
}
.navbar-brand{
	color: white;
	font-family: ubuntu;
	font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
	padding: 0 0 4.5rem;
	font-size: 1rem;
}
.nav-item{
	padding: 0 18px;
}
.dow-btn{
	margin: 5% 3% 5% 0
}
.title-image{
	width: 60%;
	transform: rotate(25deg);
	position: absolute;
	z-index: 0;
	right: 30%;
}
.icon-ft{
	color: #ef8172;
	text-align: center;
	padding-bottom: 3%;
}
.icon-ft:hover{
             color:  #ff4c68;
}
#features{
	padding: 7% 17%;
	position: relative;
	z-index: 1;
	
	background-color: white;
}
.ft-box{
	text-align: center;
	padding: 1%
}
.volla{
	font-family: Russo one;
}
.poi{
	color: #8f8f8f;
	padding: 9%;
}
#testimonials{
	color: white;
	background-color: #ef8172;
	text-align: center;
}
.vola2{
	font-family: Russo one;
	font-size: 3rem;
	line-height: 1.5;
}
.vola-img{
	border-radius: 100%;
	width: 10%;
	margin: 4%;
}
#press{
	text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-image{
	width: 15%;
	margin: 20px 20px 50px; 
}
.carousel-item{
	padding: 7% 17%;
}
#pricing{
	padding: 100px;
	text-align: center;
}
.pricing-colom{
	padding: 3% 2%;

}
.vola32{
	font-family: Russo one;
	color: white;
	font-size: 3.5rem;
	margin-bottom: 3%;
	line-height: 1.5;
}
#cta{
	background-color: #ff4c68;
	padding: 7% 15%;
	text-align: center;

}
#footer{
	padding: 7% 15%;
	text-align: center;
	
}
.sa{
	margin: 20px 10px;
}

/*media*/
@media (max-width: 1028px){
	.title-image{
		position: static;
		transform: rotate(0);
	}
	#title{
		text-align: center;
	}
}
